<div class="card">
  <div class="fillet"></div>

  <div class="container-proposals">
    <div class="proposal">
      <h2>Elaine Cristina Gomes Gonzaga</h2>
      <div class="status-container">
        <div class="dot"></div>
        <span>Status</span>
      </div>
    </div>
    <divisor-component direction="horizontal"></divisor-component>
    <div class="proposal">
      <h2>Manuel de Lucas Paz</h2>
      <div class="status-container">
        <div class="dot"></div>
        <span>Status</span>
      </div>
    </div>
    <divisor-component direction="horizontal"></divisor-component>
    <div class="button-container">
      <span class="button">
        Ver todos
      </span>
    </div>
  </div>
</div>
