<div class="navigation">
  <background-component [radius]="false" size="medium"></background-component>
  <side-navigation-component
    iconHighlightButton="calculator"
    textHighlightButton="Nova Proposta"
    [isHighlightButton]="false"
    (alterStateCollapse)="alterCollapse()"
  >
    <menu-button-component
      select="true"
      [collapse]="collapse"
      type="default"
      icon="home"
    >
      Home
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="briefcase"
    >
      Proposta
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="filter-search"
    >
      Leads
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="profiles"
    >
      Clientes
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="serasa"
    >
      Consulta Serasa
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="dollar-sign-square"
    >
      Comissões
    </menu-button-component>
    <menu-button-component
      select="false"
      [collapse]="collapse"
      type="default"
      icon="calculator"
    >
      Simuladores
    </menu-button-component>
  </side-navigation-component>
  <div class="main-content">
    <div class="container-top-navigation" [class.collapsed]="collapse">
      <top-navigation
        [accountName]="'Gilberto'"
        [welcomeMessage]="'Bem vindo'"
        [auxiliarMessage]="'Vamos juntos fechar mais propostas hoje?'"
        [showHighlightButton]="false"
        [roleName]="'Business Banker'"
      ></top-navigation>
    </div>
    <div class="container-page" [class.collapsed]="collapse">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
